@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-background: #264ECA;
  --color-text: #FFFFFF;
  --font-family: 'Montserrat', sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);

  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  align-self: flex-end;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-text);
}

.text:visited {
  color: var(--color-text);
}
